<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_customer_account_logout">
        <observer name="magenest_location_clear_cookie_when_login_logout" instance="Magenest\Location\Observer\LoginLogout" />
    </event>
    <event name="customer_login">
        <observer name="magenest_location_clear_cookie_when_login_logout" instance="Magenest\Location\Observer\LoginLogout" />
    </event>
</config>